log/*
move_local.py
move.sh
move_baleen.sh
art_mask.hdr
art_mask.img
*/.DS_store
*.tiff
*.pyc
art_mask_temporalfile.mat
spm_batches*
input*
*/options*
roi_scripts/config.sh
roi_scripts/table.sh
roi_scripts/sess.sh
fsfast_scripts/*

launchpad.sh
